.flavours-table {
  width: 100%;
  border-collapse: collapse;
}
.fl h{
      color:rgb(83, 6, 37);
}

.flavours-table th, .flavours-table td {
  border: 1px solid #1d044e;
  padding: 8px;
}

.flavours-table th {
  background-color: #f2f2f2;
  text-align: left;
}

.flavours-table tr:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

.pagination {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.pagination button:hover {
  background-color: #45a049;
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.pagination span {
  margin: 0 10px;
  font-size: 1.2em;
}
